body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a{
  color: white;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}




.footer-link {
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  color: #6c757d;
  font-size: 14px;
  transition: 0.2s;
}

.footer-link:hover {
  color: #0d6efd;
  padding-left: 3px;
}

.brokerage-list {
  text-align: left;
  font-size: 14px;
  line-height: 1.8;
  color: #555;
  padding-left: 18px;
}

.brokerage-list li {
  margin-bottom: 10px;
}

.text-primary {
  color: #387ed1;
}


.ticket-col {
  padding: 10px 20px;
}

.ticket-links {
  display: flex;
  flex-direction: column;
}

.ticket-links a {
  text-decoration: none;
  color: #387ed1;
  margin-bottom: 8px;
  font-size: 14px;
}

.ticket-links a:hover {
  text-decoration: underline;
}

